# my files
**/touch_files.sh
figures/
tables/
depreciated/
internal/

# slurm outs and logs
**/*out
**/.log
*out
*log


# symlinks
**/*fastq.gz

# snakemake
**/.snakemake

# mac
.DS_Store
._DS_Store
**/~$*
**/._*
._*
~$*

# R
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# files I generate
*.RDS
*.rds
*.rda
*.fasta
*.embl
*.xml

data/
sandbox/
ignore/

*.jpg
*.svg

# RStudio files

# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
*.pdf
*.html
*.docx

