# my files
#**/*.tab.txt
#**/*.txt
**/touch_files.sh

# slurm outs and logs
**/*out
**/.log
*out
*log


# symlinks
**/*fastq.gz

# snakemake
**/.snakemake

# mac
.DS_Store
._DS_Store
**/~$*
**/._*
._*
~$*

# R 
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# files I generate
*.RDS
*.rds
*.rda
*fasta
*embl

ncbi_api_key_forsanger.txt

sandbox/

*.jpg
*.svg

# RStudio files

# knitr and R markdown default cache directories
/*_cache/
/cache/
*png

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# knitr outputs
*.pdf
*.html
*.docx

# MAC files
.DS_Store
~$*
